*.odt
CoppeliaSim_Edu_V4_0_0_Ubuntu18_04/**
.*pdf
Tutorial/**
*.mp4
*.avi
test_task_2a
test_task_2b
test_task_2a.exe
test_task_2b.exe
test_task_3
test_task_3.exe
test_task_4a
test_task_4b
test_task_4a.exe
test_task_4b.exe
NB_Task5_GUI-1.0.0_linux.AppImage
NB_Task5_GUI-1.0.0_win.exe

